/**
 * Syntax highlighting styles
 */

 .highlight .hll { background-color: #ffffcc }
.highlight  {
  background: $syn-bg;
  color: $syn-fg;
  @extend %vertical-rhythm;
  .highlighter-rouge & {
    background: $syn-bg;
  }
  .c { color: $syn-gray; font-style: italic; } /* Comment */
  .err { color: $syn-fg; } /* Error */
  .esc { color: $syn-fg; } /* Escape */
  .g { color: $syn-fg; } /* Generic */
  .k { color: $syn-orange; } /* Keyword */
  .l { color: $syn-fg; } /* Literal */
  .n { color: $syn-fg; } /* Name */
  .o { color: $syn-orange; } /* Operator */
  .x { color: $syn-fg; } /* Other */
  .p { color: $syn-fg; } /* Punctuation */
  .ch { color: $syn-gray; font-style: italic; } /* Comment.Hashbang */
  .cm { color: $syn-gray; font-style: italic; } /* Comment.Multiline */
  .cp { color: $syn-aqua; } /* Comment.Preproc */
  .c1 { color: $syn-gray; font-style: italic; } /* Comment.Single */
  .cs { color: $syn-gray; font-style: italic; } /* Comment.Special */
  .gd { color: $syn-bg; background-color: $syn-red } /* Generic.Deleted */
  .ge { color: $syn-blue; text-decoration: underline; } /* Generic.Emph */
  .gr { color: $syn-fg; font-weight: bold; background-color: $syn-red } /* Generic.Error */
  .gh { color: $syn-green; font-weight: bold; } /* Generic.Heading */
  .gi { color: $syn-bg; background-color: $syn-green } /* Generic.Inserted */
  .go { color: $syn-bg2; } /* Generic.Output */
  .gp { color: $syn-fg; } /* Generic.Prompt */
  .gs { color: $syn-fg; } /* Generic.Strong */
  .gu { color: $syn-green; font-weight: bold; } /* Generic.Subheading */
  .gt { color: $syn-fg; font-weight: bold; background-color: $syn-red } /* Generic.Traceback */
  .kc { color: $syn-orange; } /* Keyword.Constant */
  .kd { color: $syn-orange; } /* Keyword.Declaration */
  .kn { color: $syn-orange; } /* Keyword.Namespace */
  .kp { color: $syn-orange; } /* Keyword.Pseudo */
  .kr { color: $syn-orange; } /* Keyword.Reserved */
  .kt { color: $syn-yellow; } /* Keyword.Type */
  .ld { color: $syn-fg; } /* Literal.Date */
  .m { color: $syn-purple; } /* Literal.Number */
  .s { color: $syn-green; } /* Literal.String */
  .na { color: $syn-green; font-weight: bold; } /* Name.Attribute */
  .nb { color: $syn-yellow; } /* Name.Builtin */
  .nc { color: $syn-fg; } /* Name.Class */
  .no { color: $syn-purple; } /* Name.Constant */
  .nd { color: $syn-fg; } /* Name.Decorator */
  .ni { color: $syn-yellow; } /* Name.Entity */
  .ne { color: $syn-red; } /* Name.Exception */
  .nf { color: $syn-yellow; } /* Name.Function */
  .nl { color: $syn-red; } /* Name.Label */
  .nn { color: $syn-fg; } /* Name.Namespace */
  .nx { color: $syn-fg; } /* Name.Other */
  .py { color: $syn-fg; } /* Name.Property */
  .nt { color: $syn-red; } /* Name.Tag */
  .nv { color: $syn-fg; } /* Name.Variable */
  .ow { color: $syn-orange; } /* Operator.Word */
  .w { color: $syn-fg; } /* Text.Whitespace */
  .mb { color: $syn-purple; } /* Literal.Number.Bin */
  .mf { color: $syn-purple; } /* Literal.Number.Float */
  .mh { color: $syn-purple; } /* Literal.Number.Hex */
  .mi { color: $syn-purple; } /* Literal.Number.Integer */
  .mo { color: $syn-purple; } /* Literal.Number.Oct */
  .sb { color: $syn-green; } /* Literal.String.Backtick */
  .sc { color: $syn-green; } /* Literal.String.Char */
  .sd { color: $syn-green; } /* Literal.String.Doc */
  .s2 { color: $syn-green; } /* Literal.String.Double */
  .se { color: $syn-green; } /* Literal.String.Escape */
  .sh { color: $syn-green; } /* Literal.String.Heredoc */
  .si { color: $syn-green; } /* Literal.String.Interpol */
  .sx { color: $syn-green; } /* Literal.String.Other */
  .sr { color: $syn-green; } /* Literal.String.Regex */
  .s1 { color: $syn-green; } /* Literal.String.Single */
  .ss { color: $syn-blue; } /* Literal.String.Symbol */
  .bp { color: $syn-yellow; } /* Name.Builtin.Pseudo */
  .vc { color: $syn-fg; } /* Name.Variable.Class */
  .vg { color: $syn-fg; } /* Name.Variable.Global */
  .vi { color: $syn-fg; } /* Name.Variable.Instance */
  .il { color: $syn-purple; } /* Literal.Number.Integer.Long */
}
